<!DOCTYPE html>
<html>
  {% load dajaxice_templatetags %}

  <head>
    <title>Rezende's - Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}css/bootstrap-responsive.min.css" rel="stylesheet" media="screen">
    <!-- Custom CSS -->
    <script src='{{ STATIC_URL }}js/jquery.min.js'></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/template.css">
    {% dajaxice_js_import %}
    {% block source %}
    {% endblock %}
  </head>

  <body>
    <div class="container-fluid">
      <div class="row-fluid">
        <header class="span8 offset2">
          <img src="{{ STATIC_URL }}img/logo-rezendes.png">
        </header>
      </div>

      <div class="row-fluid">
        <aside class="span2">
        </aside>
         <div id="main-div" class="span8">
          <nav class="nav hidden-desktop">
          </nav>
          <nav class="visible-desktop">
            <ul class="nav nav-pills">
              <li><a href={% url 'rezende_home' %}><i class="icon-home"></i> Inicio</a></li>
              <li><a href={% url 'product_cadastre' %}><i class="icon-plus"></i> Cadastrar Produto</a></li>
              <li><a href={% url 'product_search' %}><i class="icon-search"></i> Buscar Produto</a></li>
              <li><a href={% url 'new_user_form' %}>Cadastrar Usuário</a></li>
              {% if user.is_authenticated %}
                <li><a href={% url 'rezende_logout' %}><i class="icon-off"></i> Sair</a></li>
              {% endif %}
            </ul>
          </nav>

          <section id="content">
              {% block main %}
                  {% if messages %}
                          {% for message in messages %}
                              <div class="alert {% if message.tags %} {{ message.tags }} {% endif %}"> {{ message }}</div>
                          {% endfor %}
                      {% if product_qrcode %}
                          <img src={{ product_qrcode.url }} />
                      {% endif %}
                  {% else %}
                  {# Exibe Conteudo Default da Pagina INicial #}
                          <legend><h2>Rezende's <small>Iluminação</small></h2></legend>
                          <p>Nós somos uma empresa que nasceu em 1977 e está no mercado com o propósito de oferecer aos seus clientes as melhores e mais diferenciadas marcas de luminárias nacionais e importadas.</p>
                          <p>O nosso show room, agora totalmente repaginado, ocupa uma área de 500m2 com muito mais conforto e espaço para atendimento. Criamos um stúdio de luz aonde o cliente pode visualizar e sentir todas as luminárias e seus efeitos, passando pela automação até as mais modernas tecnologias energéticas.
                          </p>
                          <p>Em nossa equipe dispomos de arquitetos que desenvolvem projetos luminotécnicos buscando as melhores soluções para atender tanto aos profissionais de arquitetura, engenharia e designers quanto diretamente ao consumidor final. Estamos sempre buscando novas soluções e parcerias, mas também cultivamos parceiros que já provaram que, como nós, dão tudo pela qualidade, pela novidade e, principalmente, pela facilidade e pontualidade na entrega dos produtos.
                          </p>
                          <p>A prática tem demonstrado que a nossa apresentação começa quando você decide fazer o seu projeto, daí nós entramos em cena e só saímos ao acender das luzes.</p>
                          </p>
                  {% endif %}

              {% endblock %}
          </section>
        </div>
      </div>
    </div>

    <footer class="center">
        <img src="{{ STATIC_URL }}img/EBI-badge-sm-pb.png" alt="Logo EBI">
        <p>Desenvolvido por</p>
    </footer>

  </body>
</html>