body{
	background-color: #222;
	color: white;
	padding-top: 4em;
	min-width: 300px;
}
.center{
	display: block;
	margin: 0 auto;
}

#container{
	width: 100%;
}

#login-box{
	padding: 10px;
	margin-top: 3em;

	border-top: 1px solid rgba(255, 255, 150, 0.8);
	border-radius: 1em;
	background-color: #444;
	box-shadow: 5px 5px 10px black;
}

#login-box input{
	width: 90%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#login-box input:focus{
	border-color: rgba(255, 230, 50, 1);
}

#login-box button{
	width: 40%;
}

#login-box legend{
	color: #fff;
}

footer{
	padding-top: 6em;
}

footer img{
	width: 50px;
	height: auto;
}

footer p{
	text-align: center;
	color: #666;
	font-size: 0.8em;
}