body{
	background-color: #eee;
}

.container-fluid{
	padding-left: 0;
}

header{
	padding: 30px 15px;

	background-color: #555;
	border-bottom-right-radius: 3em;
}

section{
	background-color: #333;
	padding: 20px;

	border-top-right-radius: 3em;
	color: white;
}

section legend, section small{
	color: white;
}

#div-produto img{
	margin: 0 auto;
}

.add-on{
	color: #555;
}	

.table-hover tbody tr:hover > td,
.table-hover tbody tr:hover > th {
  color: #555;
}

.nav{
	margin: 10px 0;
}

.nav-pills > li > a{
	color: #555;
}

.nav-pills > li > a:hover{
	color: #ddd;
	background-color: #555;
}

.nav-pills > .active > a{
	color: #555;
	background-color: gold;
}

.nav-pills > .active > a:hover{
	background-color: #e6c200;
}

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background-color: #555;
}

.form-search input{
	margin: 0 15px;
}

input:focus{
	box-shadow: none;
}

.form-search select{
	width: 180px;
}

footer{
	display: block;
	margin: 0 auto;
	padding-top: 6em;
}

footer img{
	display: block;
	margin: 0 auto;
	width: 50px;
	height: auto;
}

footer p{
	text-align: center;
	color: #666;
	font-size: 0.8em;
}

.carousel-inner img{
    right:25%;
    left:25%;
    margin: auto;
}