<template>
    <fieldset>
            <legend>Descrição Produto</legend>
            <div id="carrossel-produto" class="carousel slide">
                <ol class="carousel-indicators">
                    {% for i in product.getImages %}
                        {% if forloop.counter0 == 0 %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                        {% else %}
                            <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                        {% endif %}
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for i in product.getImages %}
                        {% if forloop.counter0 == 0 %}
                            {% if i.image %}
                                <div class="item active"> <img src="{{ i.image.url }}"> </div>
                            {% endif %}
                        {% else %}
                            {% if i.image %}
                                <div class="item"> <img src="{{ i.image.url }}"> </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
            </div>

            <table class="table table-striped">
                <tbody>
                <tr>
                    <td>Nome</td>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <td>Preço</td>
                    <td><small>R$ {{ product.base_price }}</small></td>
                </tr>
                <tr>
                    <td>Descrição</td>
                    <td>{{ product.description }}</td>
                </tr>
                </tbody>
            </table>
    </fieldset>
</template>

<script>
export default {
    
}
</script>


        


