<template>
    <form id="product-form" class="form-horizontal" method='post' >
              <fieldset>
                <!-- {% if product %} -->
                    <legend>Editar Produto</legend>
                <!-- {% else %}
                    <legend>Cadastrar Produto</legend>
                {% endif %} -->
                
                <div class="control-group">
                  <label class="control-label">Nome</label>
                  <div class="controls">
                        <input type="text" id='product_name' name='product_name' required>
                  </div>
                </div>
                
                <div class="control-group">
                  <label class="control-label">Preço</label>
                  <div class="controls">
                    <div class="input-prepend">
                      <span class="add-on">R$</span>
                          <input type="text" id='product_price' name='product_price' required>
                    </div>
                  </div>
                </div>

                <div class="control-group">
                  <label class="control-label">Descrição</label>
                  <div class="controls">
                            <textarea rows="5" id='product_description' name='product_description'></textarea>
                  </div>
              </div>

                <div class="control-group">
                  <label class="control-label">Código de Barra</label>
                  <div class="controls">
                      <input type="text" id='product_barcode' name='product_barcode' required>
                  </div>
                </div>

                <!-- <div class="control-group">
                  <label class="control-label">
                      {% if product %}
                        Adicionar Imagem
                      {% else %}
                        Imagem
                      {% endif %}
                  </label> -->

                <div class="control-group">
                  <div class="controls">
                    <input type="submit" class="btn btn-large" value="Salvar" />
                  </div>
                </div>


              </fieldset>
            </form>
</template>

<script>
export default {
    
}
</script>

