<template>
  <div id="app">
    <div class="container-fluid">
        <div class="row-fluid">
          <header class="span8 offset2">
            <img src="assets/logo-rezendes.png">
          </header>        
        </div>

        <!-- <tabs>
            <tab name="t1" title="Tab 1" active=true>
              Hello World
            </tab>
            <tab name="t2" title="Tab 2">
              Hello World 2
            </tab>
            <tab name="t3" title="Tab 3">
              Hello World 3
            </tab>
        </tabs> -->
  
        <div class="row-fluid">
          <aside class="span2">
          </aside>
          <div id="main-div" class="span8">
            <nav>
              <ul class="nav nav-pills">
                <li><a href="#">Inicio</a></li>
                <li class="active"><a href="#">Cadastrar Produto</a></li>
                <li><a href="#">Visualizar Produto</a></li>
                <li><a href="#">Cadastrar Usuário</a></li>
              </ul>
            </nav>
            <section id="content">
                <product-form></product-form>
            </section>
          </div>
        </div>
      </div>
  </div>
</template>

<script>

import ProductForm from './components/product/ProductForm.vue'
import ProductView from './components/product/ProductView.vue'

export default {
  name: "app",
  components: {
    ProductForm,
    ProductView
    }
};

</script>
