<template>
    <ul class="nav nav-tabs">
        <li role="presentation" :class="{'active':tab.active}" v-for="tab in tablist" ><a href="#" aria-controls="" role="tab" data-toggle="tab"></a></li>
    </ul>  
    <div class="tab-content">
        <slot></slot>
    </div>
</template>
<script>
    export default{
       data () {
          return {
            tablist: []
          }
      },
      ready(){
        //console.log(this.$children);
        this.$children.forEach(c=>{
            this.tablist.push({
                    "name": c.name,
                    "title": c.title,
                    "active": c.active
                });
        })
      }
  }
</script>